interactions:
- request:
    body: null
    headers:
      Authorization: [token deadbeef]
      Content-Type: [application/json]
    method: GET
    uri: https://api.examplegh.com:443/api/v3/repos/org/repo
  response:
    body: {string: !!python/unicode '{"id":3411,"name":"repo","full_name":"org/repo","owner":{"login":"org","id":193,"avatar_url":"https://gravatar.com/avatar/72937213e2addb3e5a0601829622d103?d=https%3A%2F%2Fidenticons.github.com%2Fbd686fd640be98efaae0091fa301e613.png&r=x","gravatar_id":"72937213e2addb3e5a0601829622d103","url":"https://api.examplegh.com/api/v3/users/org","html_url":"https://api.examplegh.com/org","followers_url":"https://api.examplegh.com/api/v3/users/org/followers","following_url":"https://api.examplegh.com/api/v3/users/org/following{/other_user}","gists_url":"https://api.examplegh.com/api/v3/users/org/gists{/gist_id}","starred_url":"https://api.examplegh.com/api/v3/users/org/starred{/owner}{/repo}","subscriptions_url":"https://api.examplegh.com/api/v3/users/org/subscriptions","organizations_url":"https://api.examplegh.com/api/v3/users/org/orgs","repos_url":"https://api.examplegh.com/api/v3/users/org/repos","events_url":"https://api.examplegh.com/api/v3/users/org/events{/privacy}","received_events_url":"https://api.examplegh.com/api/v3/users/org/received_events","type":"User","site_admin":true},"private":false,"html_url":"https://api.examplegh.com/org/repo","description":"pillar
        derpatron","fork":true,"url":"https://api.examplegh.com/api/v3/repos/org/repo","forks_url":"https://api.examplegh.com/api/v3/repos/org/repo/forks","keys_url":"https://api.examplegh.com/api/v3/repos/org/repo/keys{/key_id}","collaborators_url":"https://api.examplegh.com/api/v3/repos/org/repo/collaborators{/collaborator}","teams_url":"https://api.examplegh.com/api/v3/repos/org/repo/teams","hooks_url":"https://api.examplegh.com/api/v3/repos/org/repo/hooks","issue_events_url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/events{/number}","events_url":"https://api.examplegh.com/api/v3/repos/org/repo/events","assignees_url":"https://api.examplegh.com/api/v3/repos/org/repo/assignees{/user}","branches_url":"https://api.examplegh.com/api/v3/repos/org/repo/branches{/branch}","tags_url":"https://api.examplegh.com/api/v3/repos/org/repo/tags","blobs_url":"https://api.examplegh.com/api/v3/repos/org/repo/git/blobs{/sha}","git_tags_url":"https://api.examplegh.com/api/v3/repos/org/repo/git/tags{/sha}","git_refs_url":"https://api.examplegh.com/api/v3/repos/org/repo/git/refs{/sha}","trees_url":"https://api.examplegh.com/api/v3/repos/org/repo/git/trees{/sha}","statuses_url":"https://api.examplegh.com/api/v3/repos/org/repo/statuses/{sha}","languages_url":"https://api.examplegh.com/api/v3/repos/org/repo/languages","stargazers_url":"https://api.examplegh.com/api/v3/repos/org/repo/stargazers","contributors_url":"https://api.examplegh.com/api/v3/repos/org/repo/contributors","subscribers_url":"https://api.examplegh.com/api/v3/repos/org/repo/subscribers","subscription_url":"https://api.examplegh.com/api/v3/repos/org/repo/subscription","commits_url":"https://api.examplegh.com/api/v3/repos/org/repo/commits{/sha}","git_commits_url":"https://api.examplegh.com/api/v3/repos/org/repo/git/commits{/sha}","comments_url":"https://api.examplegh.com/api/v3/repos/org/repo/comments{/number}","issue_comment_url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/comments/{number}","contents_url":"https://api.examplegh.com/api/v3/repos/org/repo/contents/{+path}","compare_url":"https://api.examplegh.com/api/v3/repos/org/repo/compare/{base}...{head}","merges_url":"https://api.examplegh.com/api/v3/repos/org/repo/merges","archive_url":"https://api.examplegh.com/api/v3/repos/org/repo/{archive_format}{/ref}","downloads_url":"https://api.examplegh.com/api/v3/repos/org/repo/downloads","issues_url":"https://api.examplegh.com/api/v3/repos/org/repo/issues{/number}","pulls_url":"https://api.examplegh.com/api/v3/repos/org/repo/pulls{/number}","milestones_url":"https://api.examplegh.com/api/v3/repos/org/repo/milestones{/number}","notifications_url":"https://api.examplegh.com/api/v3/repos/org/repo/notifications{?since,all,participating}","labels_url":"https://api.examplegh.com/api/v3/repos/org/repo/labels{/name}","releases_url":"https://api.examplegh.com/api/v3/repos/org/repo/releases{/id}","created_at":"2014-10-07T22:34:00Z","updated_at":"2015-01-06T04:37:19Z","pushed_at":"2015-01-06T04:37:18Z","git_url":"git://api.examplegh.com/org/repo.git","ssh_url":"git@api.examplegh.com:org/repo.git","clone_url":"https://api.examplegh.com/org/repo.git","svn_url":"https://api.examplegh.com/org/repo","homepage":null,"size":248,"stargazers_count":0,"watchers_count":0,"language":"Scheme","has_issues":false,"has_downloads":true,"has_wiki":false,"forks_count":0,"mirror_url":null,"open_issues_count":2,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true},"parent":{"id":3309,"name":"repo","full_name":"parent-org/repo","owner":{"login":"parent-org","id":151,"avatar_url":"https://gravatar.com/avatar/3865fa50e66afbcd7b1fd25d06d59006?d=https%3A%2F%2Fidenticons.github.com%2Fa8f15eda80c50adb0e71943adc8015cf.png&r=x","gravatar_id":"3865fa50e66afbcd7b1fd25d06d59006","url":"https://api.examplegh.com/api/v3/users/parent-org","html_url":"https://api.examplegh.com/parent-org","followers_url":"https://api.examplegh.com/api/v3/users/parent-org/followers","following_url[...]
- request:
    body: null
    headers:
      Authorization: [token deadbeef]
      Content-Type: [application/json]
    method: GET
    uri: https://api.examplegh.com:443/api/v3/repos/org/repo/pulls?sort=created&per_page=100&direction=desc&state=open
  response:
    body: {string: !!python/unicode '[{"url":"https://api.examplegh.com/api/v3/repos/org/repo/pulls/2","id":10138,"html_url":"https://api.examplegh.com/org/repo/pull/2","diff_url":"https://api.examplegh.com/org/repo/pull/2.diff","patch_url":"https://api.examplegh.com/org/repo/pull/2.patch","issue_url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/2","number":2,"state":"open","title":"[#PROJ-0001]
        Update minion master name for vagrant.","user":{"login":"org","id":193,"avatar_url":"https://gravatar.com/avatar/72937213e2addb3e5a0601829622d103?d=https%3A%2F%2Fidenticons.github.com%2Fbd686fd640be98efaae0091fa301e613.png&r=x","gravatar_id":"72937213e2addb3e5a0601829622d103","url":"https://api.examplegh.com/api/v3/users/org","html_url":"https://api.examplegh.com/org","followers_url":"https://api.examplegh.com/api/v3/users/org/followers","following_url":"https://api.examplegh.com/api/v3/users/org/following{/other_user}","gists_url":"https://api.examplegh.com/api/v3/users/org/gists{/gist_id}","starred_url":"https://api.examplegh.com/api/v3/users/org/starred{/owner}{/repo}","subscriptions_url":"https://api.examplegh.com/api/v3/users/org/subscriptions","organizations_url":"https://api.examplegh.com/api/v3/users/org/orgs","repos_url":"https://api.examplegh.com/api/v3/users/org/repos","events_url":"https://api.examplegh.com/api/v3/users/org/events{/privacy}","received_events_url":"https://api.examplegh.com/api/v3/users/org/received_events","type":"User","site_admin":true},"body":"","created_at":"2014-11-17T22:34:15Z","updated_at":"2015-01-06T05:02:57Z","closed_at":null,"merged_at":null,"merge_commit_sha":"226ad17a1f1f7c70dc4ff2ed9b469b4d3203e640","assignee":null,"milestone":null,"commits_url":"https://api.examplegh.com/api/v3/repos/org/repo/pulls/2/commits","review_comments_url":"https://api.examplegh.com/api/v3/repos/org/repo/pulls/2/comments","review_comment_url":"https://api.examplegh.com/api/v3/repos/org/repo/pulls/comments/{number}","comments_url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/2/comments","statuses_url":"https://api.examplegh.com/api/v3/repos/org/repo/statuses/20ab28595d3dc8857ece3be983396565c84b22e4","head":{"label":"org:PROJ-0001","ref":"PROJ-0001","sha":"20ab28595d3dc8857ece3be983396565c84b22e4","user":{"login":"org","id":193,"avatar_url":"https://gravatar.com/avatar/72937213e2addb3e5a0601829622d103?d=https%3A%2F%2Fidenticons.github.com%2Fbd686fd640be98efaae0091fa301e613.png&r=x","gravatar_id":"72937213e2addb3e5a0601829622d103","url":"https://api.examplegh.com/api/v3/users/org","html_url":"https://api.examplegh.com/org","followers_url":"https://api.examplegh.com/api/v3/users/org/followers","following_url":"https://api.examplegh.com/api/v3/users/org/following{/other_user}","gists_url":"https://api.examplegh.com/api/v3/users/org/gists{/gist_id}","starred_url":"https://api.examplegh.com/api/v3/users/org/starred{/owner}{/repo}","subscriptions_url":"https://api.examplegh.com/api/v3/users/org/subscriptions","organizations_url":"https://api.examplegh.com/api/v3/users/org/orgs","repos_url":"https://api.examplegh.com/api/v3/users/org/repos","events_url":"https://api.examplegh.com/api/v3/users/org/events{/privacy}","received_events_url":"https://api.examplegh.com/api/v3/users/org/received_events","type":"User","site_admin":true},"repo":{"id":3411,"name":"repo","full_name":"org/repo","owner":{"login":"org","id":193,"avatar_url":"https://gravatar.com/avatar/72937213e2addb3e5a0601829622d103?d=https%3A%2F%2Fidenticons.github.com%2Fbd686fd640be98efaae0091fa301e613.png&r=x","gravatar_id":"72937213e2addb3e5a0601829622d103","url":"https://api.examplegh.com/api/v3/users/org","html_url":"https://api.examplegh.com/org","followers_url":"https://api.examplegh.com/api/v3/users/org/followers","following_url":"https://api.examplegh.com/api/v3[...]
- request:
    body: null
    headers:
      Authorization: [token deadbeef]
      Content-Type: [application/json]
    method: GET
    uri: https://api.examplegh.com:443/api/v3/repos/org/repo/issues/2/comments?per_page=100
  response:
    body: {string: !!python/unicode '[{"url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/comments/4554","html_url":"https://api.examplegh.com/org/repo/pull/2#issuecomment-4554","issue_url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/2","id"[...]
[...]
- request:
    body: null
    headers:
      Authorization: [token deadbeef]
      Content-Type: [application/json]
    method: GET
    uri: https://api.examplegh.com:443/api/v3/repos/org/repo/pulls/2/files?per_page=100
  response:
    body: {string: !!python/unicode '[{"sha":"7999279844ee6df8fbf337d1d55fac8b4d140573","filename":"OWNERS","status":"added","additions":4,"deletions":0,"changes":4,"blob_url":"https://api.examplegh.com/org/repo/blob/20ab28595d3dc8857ece3be983396565c84b22e4/OWNERS","raw_url":"https://api.examplegh.com/org/repo/raw/20ab28595d3dc8857ece3be983396565c84b22e4/OWNERS","contents_url":"https://api.examplegh.com/api/v3/repos/org/repo/contents/OWNERS?ref=20ab28595d3dc8857ece3be983396565c84b22e4","patch":"@@
        -0,0 +1,4 @@\n+set noparent\n+owner1@example.com\n+owner2@example.com\n+owener3@example.com"},{"sha":"bdd14816331c70e84eec6fd5d81fb1a5ee049a0d","filename":"salt/init.sls","status":"modified","additions":1,"deletions":1,"changes":2,"blob_url":"https://api.examplegh.com/org/repo/blob/20ab28595d3dc8857ece3be983396565c84b22e4/salt/init.sls","raw_url":"https://api.examplegh.com/org/repo/raw/20ab28595d3dc8857ece3be983396565c84b22e4/salt/init.sls","contents_url":"https://api.examplegh.com/api/v3/repos/org/repo/contents/salt/init.sls?ref=20ab28595d3dc8857ece3be983396565c84b22e4","patch":"@@
        -1,6 +1,6 @@\n salt:\n   minion:\n-    master: salt-test02.phx2.parent-org.net\n+    master:
        salt-ubuntu\n   schedule:\n     highstate:\n       function: state.highstate"}]'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"6b4ae056fe1756fc070b8f4f4e269637"']
      last-modified: ['Tue, 06 Jan 2015 05:02:57 GMT']
      status: [200 OK]
      x-accepted-oauth-scopes: ['']
      x-github-media-type: [github.v3; param=full; format=json]
      x-oauth-scopes: [repo]
    status: {code: 200, message: OK}
- request:
    body: '{"body": "@owner1 (randomly selected by OWNERS file) please review this."}'
    headers:
      Authorization: [token deadbeef]
      Content-Type: [application/json]
    method: POST
    uri: https://api.examplegh.com:443/api/v3/repos/org/repo/issues/2/comments
  response:
    body: {string: !!python/unicode '{"url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/comments/5079","html_url":"https://api.examplegh.com/org/repo/pull/2#issuecomment-5079","issue_url":"htt[...]
[...]
- request:
    body: null
    headers:
      Authorization: [token deadbeef]
      Content-Type: [application/json]
    method: GET
    uri: https://api.examplegh.com:443/api/v3/repos/org/repo/pulls/1/files?per_page=100
  response:
    body: {string: !!python/unicode '[{"sha":"f9c9cd97bfe2bd87ccb929dc92d3383cd22cd383","filename":"salt/init.sls","status":"modified","additions":16,"deletions":6,"changes":22,"blob_url":"https://api.examplegh.com/org/repo/blob/f3d6d041b790b51b68d907b5fb32a2abbfde3cbe/salt/init.sls","raw_url":"https://api.examplegh.com/org/repo/raw/f3d6d041b790b51b68d907b5fb32a2abbfde3cbe/salt/init.sls","contents_url":"https://api.examplegh.com/api/v3/repos/org/repo/contents/salt/init.sls?ref=f3d6d041b790b51b68d907b5fb32a2abbfde3cbe","patch":"@@
        -1,11 +1,21 @@\n salt:\n   minion:\n     master: salt-test02.phx2.parent-org.net\n+  schedule:\n+    highstate:\n+      function:
        state.highstate\n+      minutes: 30\n+      splay: 10\n   master:\n     fileserver_backend:\n-      -
        git\n-    gitfs_remotes:\n-      - git@api.examplegh.com:parent-org/salt-states.git:\n-        -
        base: master\n-    ext_pillar:\n-      - git: master git@api.examplegh.com:parent-org/repo.git\n+      -
        roots\n+    file_roots:\n+      base:\n+        - /srv/states/production\n+        -
        /srv/states/testing\n+    pillar_roots:\n+      base:\n+        - /srv/pillar/production\n+    state_verbose:
        False\n+    state_output: mixed\n+    timeout: 10"},{"sha":"b36ba02c7a7b3613992904ed9f30684cb3afed4d","filename":"sudoers/init.sls","status":"modified","additions":1,"deletions":1,"[...]
[...]
