interactions:
- request:
    body: null
    headers:
      Authorization: [token deadbeef]
      Content-Type: [application/json]
    method: GET
    uri: https://api.examplegh.com:443/api/v3/repos/org/repo
  response:
    body: {string: !!python/unicode '{"id":3411,"name":"repo","full_name":"org/repo","owner":{"login":"org","id":193,"avatar_url":"https://gravatar.com/avatar/72937213e2addb3e5a0601829622d103?d=https%3A%2F%2Fidenticons.github.com%2Fbd686fd640be98efaae0091fa301e613.png&r=x","gravatar_id":"72937213e2addb3e5a0601829622d103","url":"https://api.examplegh.com/api/v3/users/org","html_url":"https://api.examplegh.com/org","followers_url":"https://api.examplegh.com/api/v3/users/org/followers","following_url":"https://api.examplegh.com/api/v3/users/org/following{/other_user}","gists_url":"https://api.examplegh.com/api/v3/users/org/gists{/gist_id}","starred_url":"https://api.examplegh.com/api/v3/users/org/starred{/owner}{/repo}","subscriptions_url":"https://api.examplegh.com/api/v3/users/org/subscriptions","organizations_url":"https://api.examplegh.com/api/v3/users/org/orgs","repos_url":"https://api.examplegh.com/api/v3/users/org/repos","events_url":"https://api.examplegh.com/api/v3/users/org/events{/privacy}","received_events_url":"https://api.examplegh.com/api/v3/users/org/received_events","type":"User","site_admin":true},"private":false,"html_url":"https://api.examplegh.com/org/repo","description":"pillar
        derpatron","fork":true,"url":"https://api.examplegh.com/api/v3/repos/org/repo","forks_url":"https://api.examplegh.com/api/v3/repos/org/repo/forks","keys_url":"https://api.examplegh.com/api/v3/repos/org/repo/keys{/key_id}","collaborators_url":"https://api.examplegh.com/api/v3/repos/org/repo/collaborators{/collaborator}","teams_url":"https://api.examplegh.com/api/v3/repos/org/repo/teams","hooks_url":"https://api.examplegh.com/api/v3/repos/org/repo/hooks","issue_events_url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/events{/number}","events_url":"https://api.examplegh.com/api/v3/repos/org/repo/events","assignees_url":"https://api.examplegh.com/api/v3/repos/org/repo/assignees{/user}","branches_url":"https://api.examplegh.com/api/v3/repos/org/repo/branches{/branch}","tags_url":"https://api.examplegh.com/api/v3/repos/org/repo/tags","blobs_url":"https://api.examplegh.com/api/v3/repos/org/repo/git/blobs{/sha}","git_tags_url":"https://api.examplegh.com/api/v3/repos/org/repo/git/tags{/sha}","git_refs_url":"https://api.examplegh.com/api/v3/repos/org/repo/git/refs{/sha}","trees_url":"https://api.examplegh.com/api/v3/repos/org/repo/git/trees{/sha}","statuses_url":"https://api.examplegh.com/api/v3/repos/org/repo/statuses/{sha}","languages_url":"https://api.examplegh.com/api/v3/repos/org/repo/languages","stargazers_url":"https://api.examplegh.com/api/v3/repos/org/repo/stargazers","contributors_url":"https://api.examplegh.com/api/v3/repos/org/repo/contributors","subscribers_url":"https://api.examplegh.com/api/v3/repos/org/repo/subscribers","subscription_url":"https://api.examplegh.com/api/v3/repos/org/repo/subscription","commits_url":"https://api.examplegh.com/api/v3/repos/org/repo/commits{/sha}","git_commits_url":"https://api.examplegh.com/api/v3/repos/org/repo/git/commits{/sha}","comments_url":"https://api.examplegh.com/api/v3/repos/org/repo/comments{/number}","issue_comment_url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/comments/{number}","contents_url":"https://api.examplegh.com/api/v3/repos/org/repo/contents/{+path}","compare_url":"https://api.examplegh.com/api/v3/repos/org/repo/compare/{base}...{head}","merges_url":"https://api.examplegh.com/api/v3/repos/org/repo/merges","archive_url":"https://api.examplegh.com/api/v3/repos/org/repo/{archive_format}{/ref}","downloads_url":"https://api.examplegh.com/api/v3/repos/org/repo/downloads","issues_url":"https://api.examplegh.com/api/v3/repos/org/repo/issues{/number}","pulls_url":"https://api.examplegh.com/api/v3/repos/org/repo/pulls{/number}","milestones_url":"https://api.examplegh.com/api/v3/repos/org/repo/milestones{/number}","notifications_url":"https://api.examplegh.com/api/v3/repos/org/repo/notifications{?since,all,participating}","labels_url":"https://api.examplegh.com/api/v3/repos/org/repo/labels{/name}","releases_url":"https://api.examplegh.com/api/v3/repos/org/repo/releases{/id}","created_at":"2014-10-07T22:34:00Z","updated_at":"2014-11-17T22:37:03Z","pushed_at":"2014-11-17T22:34:10Z","git_url":"git://api.examplegh.com/org/repo.git","ssh_url":"git@api.examplegh.com:org/repo.git","clone_url":"https://api.examplegh.com/org/repo.git","svn_url":"https://api.examplegh.com/org/repo","homepage":null,"size":188,"stargazers_count":0,"watchers_count":0,"language":"Scheme","has_issues":false,"has_downloads":true,"has_wiki":false,"forks_count":0,"mirror_url":null,"open_issues_count":2,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true},"parent":{"id":3309,"name":"repo","full_name":"parent-org/repo","owner":{"login":"parent-org","id":151,"avatar_url":"https://gravatar.com/avatar/3865fa50e66afbcd7b1fd25d06d59006?d=https%3A%2F%2Fidenticons.github.com%2Fa8f15eda80c50adb0e71943adc8015cf.png&r=x","gravatar_id":"3865fa50e66afbcd7b1fd25d06d59006","url":"https://api.examplegh.com/api/v3/users/parent-org","html_url":"https://api.examplegh.com/parent-org","followers_url":"https://api.examplegh.com/api/v3/users/parent-org/followers","following_url[...]
- request:
    body: null
    headers:
      Authorization: [token deadbeef]
      Content-Type: [application/json]
    method: GET
    uri: https://api.examplegh.com:443/api/v3/repos/org/repo/pulls?sort=created&per_page=100&direction=desc&state=open
  response:
    body: {string: !!python/unicode '[{"url":"https://api.examplegh.com/api/v3/repos/org/repo/pulls/2","id":10138,"html_url":"https://api.examplegh.com/org/repo/pull/2","diff_url":"https://api.examplegh.com/org/repo/pull/2.diff","patch_url":"https://api.examplegh.com/org/repo/pull/2.patch","issue_url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/2","number":2,"state":"open","title":"[#PROJ-0001]
        Update minion master name for vagrant.","user":{"login":"org","id":193,"avatar_url":"https://gravatar.com/avatar/72937213e2addb3e5a0601829622d103?d=https%3A%2F%2Fidenticons.github.com%2Fbd686fd640be98efaae0091fa301e613.png&r=x","gravatar_id":"72937213e2addb3e5a0601829622d103","url":"https://api.examplegh.com/api/v3/users/org","html_url":"https://api.examplegh.com/org","followers_url":"https://api.examplegh.com/api/v3/users/org/followers","following_url":"https://api.examplegh.com/api/v3/users/org/following{/other_user}","gists_url":"https://api.examplegh.com/api/v3/users/org/gists{/gist_id}","starred_url":"https://api.examplegh.com/api/v3/users/org/starred{/owner}{/repo}","subscriptions_url":"https://api.examplegh.com/api/v3/users/org/subscriptions","organizations_url":"https://api.examplegh.com/api/v3/users/org/orgs","repos_url":"https://api.examplegh.com/api/v3/users/org/repos","events_url":"https://api.examplegh.com/api/v3/users/org/events{/privacy}","received_events_url":"https://api.examplegh.com/api/v3/users/org/received_events","type":"User","site_admin":true},"body":"","created_at":"2014-11-17T22:34:15Z","updated_at":"2014-12-29T21:19:01Z","closed_at":null,"merged_at":null,"merge_commit_sha":"ca165ff56f1069f46b430843cea116c687502712","assignee":null,"milestone":null,"commits_url":"https://api.examplegh.com/api/v3/repos/org/repo/pulls/2/commits","review_comments_url":"https://api.examplegh.com/api/v3/repos/org/repo/pulls/2/comments","review_comment_url":"https://api.examplegh.com/api/v3/repos/org/repo/pulls/comments/{number}","comments_url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/2/comments","statuses_url":"https://api.examplegh.com/api/v3/repos/org/repo/statuses/32b1a0766d19393f0ca10bbee422675ddb44c1ee","head":{"label":"org:PROJ-0001","ref":"PROJ-0001","sha":"32b1a0766d19393f0ca10bbee422675ddb44c1ee","user":{"login":"org","id":193,"avatar_url":"https://gravatar.com/avatar/72937213e2addb3e5a0601829622d103?d=https%3A%2F%2Fidenticons.github.com%2Fbd686fd640be98efaae0091fa301e613.png&r=x","gravatar_id":"72937213e2addb3e5a0601829622d103","url":"https://api.examplegh.com/api/v3/users/org","html_url":"https://api.examplegh.com/org","followers_url":"https://api.examplegh.com/api/v3/users/org/followers","following_url":"https://api.examplegh.com/api/v3/users/org/following{/other_user}","gists_url":"https://api.examplegh.com/api/v3/users/org/gists{/gist_id}","starred_url":"https://api.examplegh.com/api/v3/users/org/starred{/owner}{/repo}","subscriptions_url":"https://api.examplegh.com/api/v3/users/org/subscriptions","organizations_url":"https://api.examplegh.com/api/v3/users/org/orgs","repos_url":"https://api.examplegh.com/api/v3/users/org/repos","events_url":"https://api.examplegh.com/api/v3/users/org/events{/privacy}","received_events_url":"https://api.examplegh.com/api/v3/users/org/received_events","type":"User","site_admin":true},"repo":{"id":3411,"name":"repo","full_name":"org/repo","owner":{"login":"org","id":193,"avatar_url":"https://gravatar.com/avatar/72937213e2addb3e5a0601829622d103?d=https%3A%2F%2Fidenticons.github.com%2Fbd686fd640be98efaae0091fa301e613.png&r=x","gravatar_id":"72937213e2addb3e5a0601829622d103","url":"https://api.examplegh.com/api/v3/users/org","html_url":"https://api.examplegh.com/org","followers_url":"https://api.examplegh.com/api/v3/users/org/followers","following_url":"https://api.examplegh.com/api/v3[...]
- request:
    body: null
    headers:
      Authorization: [token deadbeef]
      Content-Type: [application/json]
    method: GET
    uri: https://api.examplegh.com:443/api/v3/repos/org/repo/issues/2/comments?per_page=100
  response:
    body: {string: !!python/unicode '[{"url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/comments/4554","html_url":"https://api.examplegh.com/org/repo/pull/2#issuecomment-4554","issue_url":"https://api.examplegh.com/api/v3/repos/org/repo/issues/2","id"[...]
[...]
